@import url('https://fonts.googleapis.com/css2?family=Exo&family=Roboto&display=swap');

/* Colors */

.bg-color-name-title {
    background-color: #676767;
}

.ui-menu-color-home {
    background-color: darkorange;
}

.ui-menu-color-resume {
    background-color: purple;
}

.ui-menu-color-contact {
    background-color: blue;
}

.ui-menu-color-download {
    background-color: rgb(61, 61, 61);
}

.bg-color-three-reasons {
    background-color: rgb(255, 255, 255);
}

.bg-color-personal-info {
    background-color: #f4f4f4;
}

.bg-color-work-history {
    background-color: purple;
}

.bg-color-contact {
    background-color: white;
}

/* Heading */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url(/assets/images/GenaGrig.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 360px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.name {
    font-family: 'Exo', sans-serif;
    font-weight: 100;
    font-size: 46px;
    color: white;
    margin-top: 50px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 28px;
    color: white;
    margin-top: 20px;
    margin-bottom: 90px;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

/* Menu */

.menu-container {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menu-item {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    display: inline-block;
    width: 100%;
    height: 120px;
    padding: 0;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 18px;
}

.menu-item a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
}

.menu-item a:active {
    background-color: rgba(0, 0, 0, 0.4);
}

.menu-item a i {
    padding-top: 22px;
    display: block;
    font-size: 26px;
}

.menu-item span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/* Hover.css */

.hvr-sweep-to-bottom:before {
    background-color: rgba(0, 0, 0, 0.2);
    height: 120px;
}

/* Special paddings/margins/text */

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    color: aliceblue;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading,
.history-heading {
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 25px;
}

/* Footer */

footer {
    background-color: #676767;
    color: aliceblue;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 28px;
    color: aliceblue;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: darkorange;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: aliceblue;
    background: rgb(129, 129, 129);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: darkorange;
}

#footer-details {
    padding: 35px;
}

/* Three reasons */

.three-reasons-icon {
    font-size: 26px;
    color: darkorange;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

/* Personal info */

.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin-bottom: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    position: relative;
    width: 60%;
}

/* Skills */

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
    line-height: 20px;
}

.progress-type {
    position: absolute;
    left: 0px;
    padding: 3px 30px 2px 10px;
    color: aliceblue;
    background-color: rgba(25, 25, 25, 0.2);
    font-weight: 400;
}

.progress-section {
    margin: 40px 20px;
}

/* Experience */

.history-heading {
    color: aliceblue;
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: aliceblue;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    content: '';
    position: absolute;
    left: -6px;
    top: 2.4em;
    width: 12px;
    height: 12px;
    display: block;
    background-color: aliceblue;
    border-radius: 50%;
}

.history-items {
    margin-bottom: 30px;
}

/* Contact form */

.contact-heading {
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type='submit'] {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: darkorange;
    border-color: darkorange;
    color: aliceblue;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/* Media queries */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}